# Welcome to this Jupyter Notebook!

Cells can contain markdown or Python code - this is a markdown cell

## Tour

Take a look at the menus and buttons

In [ ]:
# Add and delete cells (you may want to add a cell to test something along the way)
# Move cells up and down
# Clear and run multiple cells

# Intro to Python

In [ ]:
# This is a comment, ignored by Python. It only lasts a single line.
'''This is a doc string. 
Also ignored by Python but can span multiple lines'''

In [1]:
# integers
1

1

In [2]:
# variable assignment
x = 1
type(x)

int

In [3]:
# floats
2.0

2.0

In [4]:
# variable assignment
y = 2.0
type(y)

float

In [5]:
# arithmetic
3 * 4

12

In [6]:
# strings
name = 'Christy' # single quotes is fine
lastname = "Heaton" # double quotes is also fine, but you have to use the same type for a single string

In [7]:
name,lastname

('Christy', 'Heaton')

In [8]:
# indexing with strings
name[2]

'r'

In [9]:
# lists - mutable containers
a = [1,2,3]
b = ['house','work','pet store']

In [10]:
a + b

[1, 2, 3, 'house', 'work', 'pet store']

In [11]:
a.append(5)

In [12]:
a

[1, 2, 3, 5]

In [13]:
# the pop method
b.pop()

'pet store'

In [14]:
b

['house', 'work']

In [15]:
# list comprehensions
[x + 2 for x in range(10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
# tuples - immutable containers
c = (1,2,3)
d = ('house','work','pet store')

In [17]:
c + d

(1, 2, 3, 'house', 'work', 'pet store')

In [18]:
# this will error
c.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
# dictionaries
f = {'one':'house', 'two':'work','three':'pet store'}

In [20]:
# get the value with the key of 2
f['two']

'work'

In [21]:
f['four'] = 'brewery'

In [22]:
f

{'one': 'house', 'two': 'work', 'three': 'pet store', 'four': 'brewery'}

In [23]:
# functions

def myfun(n,m):
    '''adds two numbers together'''
    return n+m

In [24]:
z = myfun(6, 7)
z

13

In [25]:
# Built-in functions
# print
print('Hello world!')

Hello world!

In [26]:
# type
type('hello')

str

In [27]:
# range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# zip
print(c)
print(d)
list(zip(c,d))

(1, 2, 3)
('house', 'work', 'pet store')

[(1, 'house'), (2, 'work'), (3, 'pet store')]

In [29]:
# casting
catcount = 2
print('I have ' + str(catcount) + ' cats')

I have 2 cats

## Python and version notes

We are using Python in this Jupyter Notebook, but (if you set it up differently), you can also run R, Julia, and [many other languages](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels) in Jupyter Notebooks.

In [ ]:
print('This is a Python cell!')

This Notebook is using Python verion 3. If you are used to Python 2, note some differences.

In [ ]:
# When you divide two integers, you get a float. In Python 2, you would get an integer with any remainder cut off.
5/6

In [ ]:
# Print statements need parenthesis. In Python 2, you didn't need them.
print('Python 3 is great!!')

In [ ]:
# As far as I know this tutorial will also work in Python 2

## The Jupyter Notebook Workflow

In [ ]:
# Create a variable to hold the value 100
x = 100

In [ ]:
# This cell remembers the value of x. We can do some processing on x.
x = x - 4

In [ ]:
x

In [ ]:
# Your turn. Divide x by 2 and reassign it to the variable x

In [ ]:
# accidentally dividing by 3...
x = x/3

In [ ]:
# x should now be 48.0, but its 32.0. Oh no!
x

In [ ]:
# Not to worry, just re-run the cells starting from when x was defined!
# A simple example, but a trick that might come in later if something gets messed up.